@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
}
@theme {
  --colour-primary: #1e1e2f;
  --colour-primary-dull: #2a2a3b;
}

.no-scrollbar::-weblit-scrollbar{
  display:more;
}